{% extends "base.html" %}

{% block content %}
<h1>SDAcia - hlavní stránka</h1>
<h3>Nejnovější inzeráty</h3>
<ul>
    {% for inzerat in inzeraty %}
    <li>
        <a href="">{{ inzerat.popis }} {{ inzerat.znacka }} - {{ inzerat.vykon }} {{ inzerat.rok_vyroby }}</a>
    </li>
    {% endfor %}
</ul>
<h3>Nejnavštěvovanější inzeráty</h3>
<ul>
    {% for pocet_zobrazeno in pocet_zobrazeni %}
    <li>
        <a href="">{{ pocet_zobrazeno.popis }} {{ pocet_zobrazeno.znacka }} - {{ pocet_zobrazeno.vykon }} {{ pocet_zobrazeno.rok_vyroby }}</a>
    </li>
    {% endfor %}
</ul>
<h3>Nejnovější komentáře</h3>
<ul>
    {% for komentář in komentáře %}
    <li>
        {{ pocet_zobrazeno.popis }} {{ pocet_zobrazeno.znacka }} - {{ pocet_zobrazeno.vykon }} {{ pocet_zobrazeno.rok_vyroby }}
    </li>
    {% endfor %}
</ul>
{% endblock %}